[user]
  name = Matthew McMillion
  email = matt@mlm.dev
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGJbojL84KcMBS+nPwXhIVv2mYwSYmWwmmNBoZwWELu/

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
  symlinks = true
  autocrlf = false
  editor = nvim

[difftool]
  prompt = false

[diff]
  tool = vimdiff
  compactionHeuristic = true

[merge]
  tool = fugitive

[mergetool "fugitive"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\""

[alias]
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  undo = reset --soft HEAD~1
  branch-name = !git rev-parse --abbrev-ref HEAD
  publish = !git push -u origin $(git branch-name)
  unpublish = !git push origin :$(git branch-name)
  delete-merged-branches = !git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
  new = !git init && git symbolic-ref HEAD refs/heads/trunk
	refresh = !git commit --amend -m \"$(git log -1 --format=%s)\"
  default-branch = "!git symbolic-ref refs/remotes/origin/HEAD | cut -f4 -d/"
  cleanup = !git branch --merged | grep -v -e $(git default-branch) -e '\\*' | xargs -n 1 git branch -d && git remote prune origin
  reup = !git checkout $(git default-branch) && git pull --rebase && git cleanup

[color]
  ui = auto

[pack]
  packSizeLimit = 2g

[help]
  format = html

[http]
  postBuffer = 524288000

[push]
  default = simple
  followTags = true
  autoSetupRemote = true

[gh]
  protocol = https

[rerere]
  enabled = true

[pull]
  autoStash = true
  rebase = true

[rebase]
  autoStash = true

[init]
  defaultBranch = main

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[gpg]
  format = ssh

[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
  gpgsign = true