[user]
  name = Matthew McMillion
  email = matt@mlm.dev
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0EExA2CeuxTxt1KDtuykuFKGYhkaDH2PGFcp6UJlTJuvvWsPqMYKCi8XxI7bVV77cbXwfYWJx3XcluleDlPWbgjwsCtbUyv55Fnpv4diPvDY10Ij+8n/iaC5OVtTWI+vc2AWBDGqKWomNm5tp4ORfRU9oizaQMMMcZt1C1O1iy0283Gy5VZKJFptbpdFEgzTnwUW4VfHQpr9fY/jOCGR3u+ih+v0UOWas7EabU4eNzIkowMex9eLWhuIS07i52Ofv/W2fVlbjWVQUNZv9rzPva4ibqw3jHtwkkDqUePbO7MNUvdNUpSeqqfdYElbDwRJO73b+A4/n9/W7e3hfJn4H

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
  symlinks = true
  autocrlf = false
  editor = nvim

[difftool]
  prompt = false

[diff]
  tool = vimdiff
  compactionHeuristic = true

[merge]
  tool = fugitive

[mergetool "fugitive"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\""

[alias]
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  undo = reset --soft HEAD~1
  branch-name = !git rev-parse --abbrev-ref HEAD
  publish = !git push -u origin $(git branch-name)
  unpublish = !git push origin :$(git branch-name)
  delete-merged-branches = !git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
  new = !git init && git symbolic-ref HEAD refs/heads/trunk
	refresh = !git commit --amend -m \"$(git log -1 --format=%s)\"
  default-branch = "!git symbolic-ref refs/remotes/origin/HEAD | cut -f4 -d/"
  cleanup = !git branch --merged | grep -v -e $(git default-branch) -e '\\*' | xargs -n 1 git branch -d && git remote prune origin
  reup = !git checkout $(git default-branch) && git pull --rebase && git cleanup

[color]
  ui = auto

[pack]
  packSizeLimit = 2g

[help]
  format = html

[http]
  postBuffer = 524288000

[push]
  default = simple
  followTags = true
  autoSetupRemote = true

[gh]
  protocol = https

[rerere]
  enabled = true

[pull]
  autoStash = true
  rebase = true

[rebase]
  autoStash = true

[init]
  defaultBranch = main

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[gpg]
  format = ssh

[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
  gpgsign = true