*.swo
*.swp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.apdisk
.byebug_history
.claude
.fseventsd
.git
.nvimrc
.sass-cache
Network Trash Folder
Temporary Items
taskell.json
taskell.md
