extends javascript

snippet comp
export const ${1:ComponentName} = () => {
	return <div>$1</div>
}
endsnippet

snippet cn
className={styles.$0}
endsnippet

snippet cx
className={cx('$0')}
endsnippet

snippet impcss
import css from "./${0:styles}.module.css";
endsnippet

snippet impcmp
import { ${1:ComponentName} } from "./$1";
endsnippet
