extends javascript
extends typescript
extends javascriptreact

snippet cn
className={cx("$0")}
endsnippet

snippet cmp
${1:export }const ${2:Component} = (${3:props: Props}) => {
  $0
}
endsnippet

snippet fc
type ${1:Component}Props = {
  $2
}

export function $1(props: $1Props) {
  $0
}
endsnippet
